<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shantom.dao.BlogMapper">

    <select id="getBlogsWithConditions" resultType="com.shantom.pojo.Blog">
        select * from mybatis.blog
        <where>
            <if test="title != null">
                and title like #{title}
            </if>
        </where>
    </select>

    <select id="getBlogsWithId" resultType="com.shantom.pojo.Blog">
        select * from mybatis.blog
        <where>
            id in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </where>
    </select>

</mapper>