<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="afterLog" class="com.shantom.log.AfterLog"/>
    <bean id="beforeLog" class="com.shantom.log.BeforeLog"/>
    <bean id="userService" class="com.shantom.service.UserServiceImpl"/>

<!--    API实现-->
<!--    <aop:config>-->
<!--        &lt;!&ndash;切入点&ndash;&gt;-->
<!--        <aop:pointcut id="pointcut" expression="execution(* com.shantom.service.UserServiceImpl.*(..))"/>-->
<!--        &lt;!&ndash;环绕&ndash;&gt;-->
<!--        <aop:advisor advice-ref="beforeLog" pointcut-ref="pointcut"/>-->
<!--        <aop:advisor advice-ref="afterLog" pointcut-ref="pointcut"/>-->
<!--    </aop:config>-->

<!--    切面实现-->
<!--    <bean id="diy" class="com.shantom.log.DIYLog"/>-->
<!--    <aop:config>-->
<!--        <aop:aspect ref="diy">-->
<!--            <aop:pointcut id="pc" expression="execution(* com.shantom.service.UserServiceImpl.*(..))"/>-->
<!--            <aop:before method="before" pointcut-ref="pc"/>-->
<!--            <aop:after method="after" pointcut-ref="pc"/>-->
<!--        </aop:aspect>-->
<!--    </aop:config>-->

<!--    注解实现-->
<!--    <bean class="com.shantom.log.AnnoPointCut"/>-->
    <aop:aspectj-autoproxy/>
    <context:component-scan base-package="com.shantom.log"/>
</beans>