<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shantom.dao.BooksMapper">

    <select id="queryBookById" resultType="Books">
        select * from ssmbuild.books where bookID=#{id}
    </select>

    <select id="queryAllBooks" resultType="Books">
        select * from ssmbuild.books;
    </select>

    <insert id="addBook" parameterType="Books">
        insert into ssmbuild.books (bookID, bookName, bookCounts, detail)
        value (#{bookID}, #{bookName}, #{bookCounts}, #{detail})
    </insert>

    <update id="updateBook" parameterType="Books">
        update ssmbuild.books
        set bookName=#{bookName}, bookCounts=#{bookCounts}, detail=#{detail}
        where bookID=#{bookID}
    </update>

    <delete id="deleteBookById" parameterType="int">
        delete from ssmbuild.books where bookID=#{id}
    </delete>

    <select id="queryByName" resultType="Books">
        select * from ssmbuild.books where bookName like ${name}
    </select>

</mapper>